:root {
    --bg-color: #40403f;
    --text-color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --text-color: black;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#htmlArea {
    width: 49%;
    height: 95vh;
    font-size: large;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#result {
    position: absolute;
    right: 0px;
    width: 49%;
    height: 95vh;
}

#submitBttn {
    position: absolute;
    top: 0px;
    left: 0px;
}